<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<h1>Contributors:</h1>
<input type="text" #contributorname placeholder="Contributor Name" />
<input type="text" #contributorposition placeholder="Contributor Position" />
<br />
<button (click)="save(contributorname.value, contributorposition.value)">Add Contributor</button>
<ul>
  <li *ngFor = "let contributor of contributors | async">
    <pre>{{ contributor.name }},{{ contributor.position }}</pre>
  </li>
</ul>
<br />
<textarea [(ngModel)] = "goals"></textarea>
<button (click)="saveGoals()">Save Goals</button>
