<div class="header">
  <h1>
      Angular Firebase Google Login
  </h1>
</div>
<div class="container">
  <div class="button">
      <pre>{{ credentials.email }} {{ credentials.password }}</pre>
      <br />
      <input type="email" [(ngModel)] = "credentials.email"/>
      <input type="password" [(ngModel)] = "credentials.password"/>
      <br/>
      <input type="button" name="button" (click)="signInWithEmail()" value="Click to Sign In">
      <button (click)="signUpWithEmail()">Click to Sign Up</button>
  </div>
</div>